
.cartButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;



    padding: 0.4rem 2.5rem;

    outline: none;
    border: none;

    font-family: inherit;

    border-radius: 24px;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.5);



}

.cartButton:hover{
    border: 1px solid rgb(111, 69, 34);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.cartIcon
{
    margin-right: 0.5rem;
}

.cartText
{
    color: white;
    font-weight: bold;
    font-size: 0.95rem;
}

.cartNumber
{
    background-color: rgb(161, 102, 53);

    margin-left: 1rem;
    padding: 0.25rem 0.75rem;

    border-radius: 50%;
    
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.bump {
    animation: bump 600ms ease-in-out;
  }

@keyframes bump {
  0% {
    transform: scale(1);
}
5% {
    transform: scale(0.97);
}
10% {
    transform: scale(0.95);
}
15% {
    transform: scale(0.97);
}
20% {
    transform: scale(0.99);
}
25% {
    transform: scale(1);
}
30% {
    transform: scale(1.01);
}
35% {
    transform: scale(1.03);
}
40% {
    transform: scale(1.05);
}
45% {
    transform: scale(1.03);
}
50% {
    transform: scale(1.01);
}
55% {
    transform: scale(1);
}
60% {
    transform: scale(0.99);
}
65% {
    transform: scale(0.97);
}
70% {
    transform: scale(0.95);
}
75% {
    transform: scale(0.97);
}
80% {
    transform: scale(0.99);
}
85% {
    transform: scale(1);
}
90% {
    transform: scale(1.03);
}
95% {
    transform: scale(1.05);
}
100% {
    transform: scale(1);
}
  }